{% extends 'base.html' %}

{# 导入评论库模块的模版标签 #}
{% load comments %}

{%block head%}
<!--emojione v2.1.1 使用bootstrap的cdn-->
<link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/emojione/2.1.1/assets/sprites/emojione.sprites.css">
<script type="text/javascript" src="http://cdn.bootcss.com/emojione/2.1.1/lib/js/emojione.min.js"></script>
 
<!--emojionearea-->
<link rel="stylesheet" type="text/css" href="/media/emoji_demo_min/css/emojionearea-2.1.3.min.css">
<script type="text/javascript" src="/media/emoji_demo_min/js/emojionearea-2.1.3.min.js"></script>
<script>
	
$(document).ready(function() {	
	{# 选择题选项随机排列  #}
	$("#question li").each(function(){
			if(parseInt(Math.random()*2)==0){
				$(this).prependTo($(this).parent());
			}	
	});
	
	//选项被选中
	$("input[name='selections']").click(function(){
		//alert('hahahah');
		//设置disabled属性
		$("input[name='selections']").attr("disabled",true);

		//移除disabled属性
		//$('#areaSelect').removeAttr("disabled");
		$("#answer_detail").show();

	});
});
	
</script>

{%endblock head%}


{%block content%}
{% get_comment_count for single_q as comment_count %}
<div class="panel panel-default">
    
    <div class="panel-body" style="word-wrap:break-word" id='demo'>
    	<form>
			<h3 style="color:dodgerblue;"> 
	            {{single_q.title|safe}}  
	        </h3>
	        <ul class="list-unstyled" id="question">
	           	<li><label><input name="selections" type="radio" value="{{single_q.answer|safe}}" />
	           	&nbsp;{{single_q.answer|safe}} </label> </li>
	           	<li><label><input name="selections" type="radio" value="{{single_q.select_2}}" />
	           	&nbsp;{{single_q.select_2}} </label> </li>
	           	<li><label><input name="selections" type="radio" value="{{single_q.select_3}}"/>
	           	&nbsp;{{single_q.select_3}} </label> </li>
	           	<li><label><input name="selections" type="radio" value="{{single_q.select_4}}" />
	           	&nbsp;{{single_q.select_4}} </label> </li>
				
	        </ul>
        </form>
        <div id="answer_detail" style="display: none;">
        	<blockquote>{{single_q.answer_detail|safe}}</blockquote>
        </div>
    </div>
    <div class="panel-footer">
    	<p>
    	<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
		    {% if pre_single_q %}
		        <a href="{%url 'exam:detail_selection' pre_single_q.id%}">上一题：{{pre_single_q.caption}}</a>
		    {% else %}
		         	上一题：没有了
		    {% endif %}
		</div>
		<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 ">
		    {% if next_single_q %}
		        <a href="{%url 'exam:detail_selection' next_single_q.id%}">下一题：{{next_single_q.caption}}</a>
		    {% else %}
		        	下一题：没有了
		    {% endif %}
		</div>
		</p>
		<p>&nbsp;</p>
    </div>

</div>

{%endblock content%}