{% extends 'base.html' %}

{%block header%}
	<h1>填空题错题集</h1>
{%endblock header%}


{%block content%}
    	<div id='' class="alert alert-info" >
        	错题TIPS:
        	<ol>
        		<li>答对次数少于答错次数的试题</li>
        		<li>斩掉的错题，并不一定会从错题消失，仅是较大降低了错误次数的权重而已</li>
        	</ol>
        </div>
<ul class="list-unstyled">
    {% for fill_wrong_q in fill_wrong_qs %}
        <li>
        	<h3>
            <a href="{% url 'exam:detail_fill_wrong' fill_wrong_q.question.id fill_wrong_q.id %}">
            	{{fill_wrong_q.question.title|safe|striptags|truncatechars:120}}</a>
            </h3>

        </li>
    {%empty%}
        <li>你暂时没有错题</li>
    {%endfor%}
</ul>

{%endblock content%}