{% extends 'base.html' %}

{%block header%}
	<h1>单选题</h1>
{%endblock header%}


{%block content%}

<ol>
    {% for single in single_qs %}
        <li>
        	<h4 style="color:dodgerblue;"> 
            {{single.title|safe}}
            </h4>
            <ul class="list-unstyled">
            	<li><label><input name="{{single.id}}" type="radio" value="{{single.answer|safe}}" />
            	&nbsp;&nbsp;{{single.answer|safe}} </label> </li>
            	<li><label><input name="{{single.id}}" type="radio" value="{{single.select_2}}" />
            	&nbsp;&nbsp;{{single.select_2}} </label> </li>
            	<li><label><input name="{{single.id}}" type="radio" value="{{single.select_3}}" />
            	&nbsp;&nbsp;{{single.select_3}} </label> </li>
            	<li><label><input name="{{single.id}}" type="radio" value="{{single.select_4}}" />
            	&nbsp;&nbsp;{{single.select_4}} </label> </li>
				
            </ul>
        </li>
    {%empty%}
        <li>No 单选题  have been added yet</li>
    {%endfor%}
</ol>

{%endblock content%}