{% extends 'base.html' %}

{%block header%}
	<h1>单选题错题集</h1>
{%endblock header%}


{%block content%}
    	<div id='' class="alert alert-info" >
        	错题TIPS:
        	<ol>
        		<li>答对次数少于答错次数的试题</li>
        		<li>斩掉的错题，并一定会从错题消失，仅是较大降低了错误次数的权重而已</li>
        	</ol>
        </div>
<ul class="list-unstyled">
    {% for single_wrong_q in single_wrong_qs %}
        <li>
        	<h3>
            <a href="{% url 'exam:detail_single_wrong' single_wrong_q.question.id single_wrong_q.id %}">
            	{{single_wrong_q.question|safe|striptags|truncatechars:100}}
            </a>
            <small>(该题你曾经做对了{{single_wrong_q.correct_times}}次，做错过{{single_wrong_q.wrong_times}}次)</small> 
            
            </h3>

        </li>
    {%empty%}
        <li>No 单选题错题  have been added yet</li>
    {%endfor%}
</ul>

{%endblock content%}