{% extends 'base.html' %}

{# 导入评论库模块的模版标签 #}
{% load comments %}

{% block head %}
<style>
.subject_list{ overflow: hidden; min-height: 400px}
.subject{ float: left; width: 269px; padding: 10px; margin: 8px; border: 1px solid #ddd; border-radius: 6px; box-shadow: 0 0 5px rgba(0,0,0,0.10);}
.subject a:hover{ text-decoration: none;}
.subject a:active{ text-decoration: none;}

.subject_img{ width: 247px; height: 200px;margin-bottom: 15px; border: 1px solid #ddd;}
.subject_number{
    text-align: right;
    position: relative;
    top: -37px;
    padding: 3px 8px 1px;
    font-size: smaller;

    -webkit-transition:all 0.5s ease-in-out;
    -moz-transition:all 0.5s ease-in-out;
    -ms-transition:all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;
    transition:all 0.5s ease-in-out;

    background: rgba(0,0,0,0);
    color: rgba(0,0,0,0);
}
.subject a:hover .subject_number{
    -webkit-transition:all 0.5s ease-in-out;
    -moz-transition:all 0.5s ease-in-out;
    -ms-transition:all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;
    transition:all 0.5s ease-in-out;

    background: rgba(255, 255, 255, 0.5);
    color: #000;
}

.subject_text{ margin-left: 6px;}
.subject_title{ margin: 4px 0; margin-top: -26px; color: #000;}
.subject_descript{ margin: 0; font-size: 85%; color: #777; border-top: 1px dashed #aaa; padding-top: 10px;}
.subject_type{ font-size: smaller; color: #777;}
.subject_static{ color: #4caf50; font-weight: bold; }
.subject_static_red{ color: #FF5722;}

@media (max-width: 768px){
    .subject{ width: 152px;}
    .subject_img{ width: 130px;}
    .subject_title{ font-size: 1em;}
}
</style>
{% endblock head %}

{% block header %}	
      <div class="jumbotron">
        <h1>Navbar example</h1>
        <p>It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
        <p>
          <a class="btn btn-lg btn-primary" href="{% url 'blog:blog_list' %}" role="button">进入博客列表页 &raquo;</a>
        </p>
      </div>
{% endblock header %}

{% block content %}

 	{% for subject in subjects%}
 		{% get_comment_count for subject as comment_count %}
	<div class="subject">
	  <a href="{% url 'subject:subject_show' subject.id %}">
	    <img class="subject_img" src="/media/{{subject.img}}" alt="{{subject}}" />
	    <p class="subject_number">
				<span>阅读(197)</span>&nbsp;
	      <span class="hidden-xs">评论({{comment_count}})</span>
	    </p>
	
	    <div class="subject_text">
	      <h4 class="subject_title">{{subject}}</h4>
	        <p class="subject_type">
	          <span class="hidden-xs">类别：</span>
	            {{subject.subject_type}}（<span class="subject_static ">{{subject.static}}</span>）
	        </p>        
	        <p class="subject_descript hidden-xs">{{subject.description|truncatechars:80}}</p>
	    </div>
	  </a>
	</div>      
  {%empty%}

  {%endfor%}
  
    
{% endblock content %}