{% extends 'base.html' %}

{# 导入评论库模块的模版标签 #}
{% load comments %}

{% block head %}

<!--emojione v2.1.1 使用bootstrap的cdn-->
<link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/emojione/2.1.1/assets/sprites/emojione.sprites.css">
<script type="text/javascript" src="http://cdn.bootcss.com/emojione/2.1.1/lib/js/emojione.min.js"></script>
 
<!--emojionearea-->
<link rel="stylesheet" type="text/css" href="/media/emoji_demo_min/css/emojionearea-2.1.3.min.css">
<script type="text/javascript" src="/media/emoji_demo_min/js/emojionearea-2.1.3.min.js"></script>
	{#设置提交评论#}
    <script type="text/javascript">

    $(document).ready(function() {

        $('#comment_form').submit(function() {
        	if ($("#id_honeypot").val().length!=0) {
                        alert("Stop!垃圾评论");
                        return false;
            };
            if ($("#id_comment").val().trim().length==0){
                alert("Error:请输入您的评论");
                $("#id_comment").focus();
                return false;
            };
 
            $("#id_timestamp").value=event.timeStamp;
            $.ajax({
                type: "POST",
                data: $('#comment_form').serialize(),
                url: "{% comment_form_target %}",
                cache: false,
                dataType: "json",
                success: function(json, textStatus) {
			            if(json['success']){
			                window.location.reload();
			            }else{
			                if(json['code']==501){
			                    alert('您尚未登录，请先登录才能评论。');
			                }else if(json['code']==502){
			                    alert('您尚未激活，请先激活您的账户才能评论。');
			                }else{
			                    alert('评论出错，请刷新重试\n'+json['message']);
			                }
			            }
			        },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("评论出错，" + errorThrown);
                }
            });            
            return false;
        	});
        		        
			//绑定回复按钮的鼠标经过事件
		//	$(".comment_content,.comment_reply li").each(function(){
		//	    $(this).hover(function(){
		//	        $(this).append("<span class='reply_button'> <a href='javascript:void(0);' onclick='reply_click(this);'>回复</a></span>");
		//	    },function(){
		//	        $(this).children(".reply_button").remove();
		//	    });
		//	});
			
			//取消回复-按钮
	        $("#reply_cancel").click(function(){
	            //设置相关数据
	            $("#reply_to").val('0');
	            $("#root_id").val('0');
	            $("#reply_name").val("");
	
	            //调整页面显示
	            $("#comment_title").text("新的评论");
	            $("#reply_text_pre").hide();
	            $("#reply_cancel").hide();
	        });
	        
	        //定位到评论位置
			if(window.location.hash!=""){
			    //根据名称获取元素
			    obj = document.getElementsByName(window.location.hash.split("#")[1])[0];
			    //DOM对象转为jQuery对象
			    var $obj = $(obj);
			    //定位到评论或回复的位置
			    $("body,html").animate({
			      scrollTop: $obj.offset().top - 70
			    }, 0);
			}
			//使用emojioneArea
			$("#id_comment").emojioneArea();
			//对评论内容的emoji转化
			$(".comment_content p, .reply_content p").each(function(){
			    var value = $(this).text();
			    var code = $('<div/>').text(value).html(); //html转义，防止有跨站脚本攻击例如script type="text/javascript" alert("hello")
			    
			    $(this).html(emojione.toImage(code));
			});
		
    });
		 
		//回复按钮点击触发的方法
		function reply_click(obj){
		    //获取回复按钮对应的评论或回复（DOM转成jQuery对象）
		    var comment=obj;
		    var $c=$(comment);
		    //获取相关信息
		    var root=$c.attr("root");
		    var role=$c.attr("role");
		    var base=$c.attr("base");
		 
		    //设置回复表单相关值
		    $("#reply_to").val(role);
		    $("#root_id").val(root);
		    $("#reply_name").val(base);
		  	
		  	//显示回复的相关内容
            $("#comment_title").text("回复：" + base);
            $("#reply_text_pre").html($("#comment_"+role).html()); //显示要回复的评论内容
            $("#reply_text_pre").show();
            $("#reply_cancel").show();

            //评论库获得焦点
            $("#id_comment").focus();

		    return false;
		}

    </script>
    <style>
		 /*评论框*/
.comment_text{ width: 100%; height: 9em; overflow-y: visible;}
.comment_button{ margin-top:0.5em; float: right;}
.comment_button #reset_btn{ margin-right:1em;}
 
/*评论列表*/            
.blog_comment{  overflow: hidden; padding-bottom: 0.5em; border-bottom: 1px #ddd solid; margin-top: 1.5em;}
#blog_comments :last-child{ border-bottom: none;}
 
/*头像*/
.blog_comment .comment_user{ width: 70px; text-align: center; float: left;}
.blog_comment .user_avatar{ border-radius: 6px; width: 64px; height: 64px;}
.blog_comment .uesr_name{ font-size: 70%; margin-top: 0.5em; word-break:break-all; font-weight: bolder;}
 
/*评论*/
.blog_comment .comment_body{ margin-left: 80px;}
.blog_comment .comment_content{ min-height: 64px; padding: 0.2em; border-radius: 6px;}
.blog_comment .comment_bottom{ text-align: right; padding-right: 0.3em; }
.blog_comment .comment_bottom span{ color: #aaa;}
 
/*回复*/
.blog_comment .comment_reply{ border-top: 1px #ddd dashed; padding-top: 0.2em;}
.blog_comment .reply_avatar{ width: 32px; height: 32px; border-radius: 4px; float: left; margin-top:4px;}
.blog_comment .reply_body{ margin-left: 40px;}
.blog_comment .reply_body p{ margin: 0;}
.blog_comment .reply_body .comment_bottom{ padding-top: 0.5em;}
.blog_comment .reply_name{ font-weight: bolder;}
.blog_comment .comment_reply li{  padding-top: 0.7em; padding-bottom: 0.5em; border-bottom: 1px #ddd dashed;}

/*emoji样式，避免不使用样式时，太大0 0*/
.emojione{
    font-size: inherit;
    height: 2ex;
    width: 2.1ex;
    min-height: 20px;
    min-width: 20px;
    display: inline-block;
    margin: -.2ex .15em .2ex;
    line-height: normal;
    vertical-align: middle;
    max-width: 100%;
    top: 0;
}

			/*专题明细*/
	.subject_header{ overflow: hidden; padding: 1em 0em 0em 1em;}
	.subject_header h3 { color: #0d56a6; margin-top: 10px;}
	.subject_header li{ float: left; padding-right: 0.7em; font-size: small;}
	
	.subject_content{ padding: 1em 1em 0;}
	.subject_content .alert{ overflow: hidden;}
	.subject_content img{ float: left; width: 100px;}
	.subject_description{ margin-left: 110px;text-indent: 1em;}
	.subject_description h4{ font-weight: bold; margin-top: 10px;}
	
	.subject_chapter{ margin-top: 2em; margin-left: 1em;}
	.subject_chapter h4{ font-weight: bold; padding-bottom: 0.5em; display: inline-block;}
	.subject_chapter ul{ list-style-type:none; counter-reset:sectioncounter; margin-left: 2em;}
	.subject_items li{ margin-bottom: 8px;}
	
	.subject_items li:before{ content:counter(sectioncounter) "）"; counter-increment:sectioncounter;}  
	.share_btns{ border-top: 1px #ddd solid; padding: 1em 0 0.5em; margin-top: 4em;}
    	
    </style>

{% endblock head %}

{% block header %}	

{% endblock header %}

{% block content %}
{% get_comment_count for subject as comment_count %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="subject_header">
                    <h3>{{subject}}</h3>

                    <ul class="list-inline">
                        <li>创建时间：{{subject.create_time|date:'Y-m-d, H:i'}}</li>
                        <li>作者：{{subject.author}}</li>
                    </ul>
                    <span class="clearfix"></span>
                    <ul class="list-inline">
                        <li>更新状态：
                            <span class="subject_static ">{{subject.static}}</span>
                        </li> 
                        <li>类别：{{subject.subject_type}}</li>
                        <li>阅读({{subject.read_num}})</li>
                        <li>评论({{comment_count}})</li>
                    </ul>
                </div>
            </div>

            <div class="panel-body">
                <div class="subject_content">
                    <div class="alert alert-info">
                        <img src="/media/{{subject.img}}" />

                        <div class="subject_description">
                            <h4 style=" font-weight: bold; margin-top: 10px;">专题简介</h4>
                            <p>{{subject.description|safe}}</p>
                        </div>
                    </div>
                    
                    {% for chapter in chapters %}
                        <div class="subject_chapter">
                            <h4>{{chapter.title}}</h4>  
                            <ul class="subject_items"> 
                            	{% for item in chapter.items %}
                                    <li>
                                        <span> {{item.type_name}}：</span> 
                                        <a href="{{item.url}}" target=_blank>{{item.title}}</a>
                                    </li>
                                
                                {%endfor%}
                            </ul>

                        </div>
                    {%endfor%}
                  

                    <!-- JiaThis Button -->
                    <div class="share_btns">
                        <div style="padding-left: 2em;">
                            <p>{{count}}</p>
                            <p>
                            	
                            </p>
                        </div>
                    </div>
                </div>

            </div>
		</div>

{# 评论功能 #}
<div class="panel panel-default">
    <div class="panel-heading">
        <h4>评论列表</h4> 
    </div>
 
    <div class="panel-body">
        {% get_comment_list for subject as comments %}
        {% for comment in comments %}
            <div class="blog_comment" name="F{{comment.id}}">
            <div class="comment_user">
                <img class="user_avatar" src="/media/avatar/online/{{user.last_name}}" alt="{{comment.user_name}}">
                <p class="uesr_name">{{comment.user_name}}</p>
            </div>
 
            <div class="comment_body">
                <div class="comment_content">
                    <p id='comment_{{comment.id}}'>{{ comment.comment }}</p>
                </div>
                
                <p class="comment_bottom">                        
                    <span>{{comment.submit_date|date:"Y-m-d H:i"}}</span>
                    <span class='reply_button'>
                        <a href='javascript:void(0);' onclick='reply_click(this);' root='{{comment.id}}' role='{{comment.id}}' base='{{comment.user_name}}'>回复</a>
                    </span>
                </p>
            
                {% if comment.replies%}
                <ul class="comment_reply">
                    {% for reply in comment.replies %}
                    <li name='F{{reply.id}}'>
                        <img class="reply_avatar" src="/media/avatar/online/{{user.last_name}}">
 
                        <div class="reply_body">
                            <p id='comment_{{reply.id}}'>
                                {#判断是否回复评论#}
                                {% ifequal comment.id reply.reply_to %}
                                    <span class="reply_name">{{reply.user_name}}</span>
                                {% else %}
                                    <span class="reply_name">{{reply.user_name}}</span>
                                    <span> 回复 </span>
                                    <span class="reply_name">{{reply.reply_name}}</span>
                                {% endifequal %}
                            </p>
                            
                            <div class="reply_content">
                                <p>{{reply.comment}}</p>
                            </div>                                    
 
                            <p class="comment_bottom">                        
                                <span>{{reply.submit_date|date:"Y-m-d H:i"}}</span>
                                <span class='reply_button'>
                                    <a href='javascript:void(0);' onclick='reply_click(this);' root='{{reply.root_id}}' role='{{reply.id}}' base='{{reply.user_name}}'>回复</a>
                                </span>
                            </p>
                        </div>                                
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
 
            <span class="clearfix"></span>
        </div>
        {% empty %}
            <span>飘过的大虾，留个名呗</span>
        {% endfor %}
    </div>
</div>
<div class="panel panel-default">

	<div class="panel-heading">
		<div class="row">
		<div class="col-md-5 col-lg-5 col-sm-5 col-xs-5">
			<h4 id="comment_title">新的评论</h4>
		</div> 
        <div class="text-right ">
            <button id="reply_cancel" class="btn btn-warning comment_title_btn " 
            	style="display:none;position:relative;left:-10px;">取消回复</button>
        </div>
       </div>
            <p id="reply_text_pre" style="display:none"></p>
    </div>
		{% get_comment_form for subject as blog_form %}
	<div class="panel-body">	 
		<form id="comment_form" 
		      class="form-horizontal" 
		      method="post"
		>
		    {% csrf_token %}
		 
		    {# 必须的字段 #}
		    {{ blog_form.object_pk }}
		    {{ blog_form.content_type }}
		    {{ blog_form.timestamp }}
		    {{ blog_form.site }}
		    {{ blog_form.submit_date }}
		    {{ blog_form.security_hash }}
		 	
			    {# 评论内容 #}
			    <a name="newcomment" id="newcomment"></a>
			    <div class="control-group">
			        <div class="controls">
			            <textarea rows="5" style="width:100%" id="id_comment" name="comment" ></textarea>
			        </div>
			    </div>
			    {# 表单按钮 #}
			    <div class="controls">
			        <div class="form-actions text-right" style="position: relative;top:8px;">
			        	<input type="hidden" name="src_url" value="{{request.path_info}}"/>
			            <input class="btn btn-info" id="submit_btn" type="submit" name="submit" value="提  交"/>
			            <input type="hidden" name="next" value="{%url 'subject:subject_show' subject.id%}"/>
			            <input id="reply_to" type="hidden" name="reply_to" value="0" />
				        <input id="root_id" type="hidden" name="root_id" value="0" />
				        <input id="reply_name" type="hidden" name="reply_name" value="">
			            <input class="btn" id="reset_btn" type="reset" name="submit" value="清空"/>
			        </div>
			    </div>

			    {# 防垃圾评论 #}
				<p style="display:none;">
        			<label for="id_honeypot">如果你在该字段中输入任何内容，你的评论就会被视为垃圾评论。</label>
        			<input type="text" name="honeypot" id="id_honeypot">
    			</p>

		 </form>
	</div>
	
	<div class="panel-footer">
		
	</div>
</div>  

     

    
{% endblock content %}