{% extends 'base.html' %}
{# 导入评论库模块的模版标签 #}
{% load comments %}

{% block head %}	

<script type="text/javascript">
	{# 页面跳转按钮 #}
    function page_goto(){
        var page = $("#page_goto input")[0].value;
        window.location.href = '?page=' + page;  //重定向
        return false;
    }
    //排序可调用的通用函数
	function blog_sort(sf, st){
	    $('#sort_sf').attr('value', sf);   //排序类型
	    $('#sort_st').attr('value', st);   //排序方式(升序/降序)
	    $('#filter_form').submit();        //提交表单
	}

$(document).ready(function() {    
    /*绑定复选框事件*/
		$("#filter_form input[name=topic]").each(function(){
		    $(this).change(function(){
		        //移除“全部类别”的勾选
		        $('#check_all').removeAttr("checked");
		        //提交表单
		        $('#filter_form').submit();
		    });
		});
		 
		//“全部类别”的复选框
		$("#check_all").change(function(){
		    //判断是否选中“全部类别”，才去掉其他类别的勾选，并提交表单
		    if($("#check_all").is(':checked')){
		        $("#filter_form input[name=topic]").each(function(){
		            $(this).removeAttr("checked");
		        });
		        //提交表单
		        $('#filter_form').submit();
		    }
		});
		 
		//“推荐”的复选框
		$("#recommend").change(function(){
		    //提交表单
		    $('#filter_form').submit();
		});
		
		/*设置排序文本*/
		function set_sort_content(field, sort_type){
		    var texts = $('.filter-item a[name=' + field + ']');
		    var text = '';
		    if(texts.length>1){
		        text = '排序:'+texts[sort_type=='-1' ? 0:1].text.trim();
		    }
		 
		    $('#sort_content').text(text);
		}
		 
		//执行设置排序文本
		set_sort_content('{{filter.sorted_field}}', '{{filter.sorted_type}}');
});
</script>
<style type="text/css">
    {#页码跳转的显示样式#}
    #page_goto span{
        padding: 6px 4px;
    }
    #page_goto input{
        border: none;
        padding: 0;
        width: 2em;
        text-align: center;
    }
</style>
{% endblock head %}
{% block header %}	
      <div class="jumbotron">
        <h1>欢迎来到我的博客</h1>
        <p>你可以通过筛选，排序来查看不同类别博文</p>
      </div>
{% endblock header %}
{% block content %}
 
{# 筛选框  #}
<div class="panel panel-default">
    <div class="panel-body" style="word-wrap:break-word">
			<div class="filter blog-border">
        <div class="filter-item">
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    发布日期 <span class="caret"></span>
                </button>

                <ul class="dropdown-menu" role="menu">
                    <li><a href="javascript:void(0);" onclick="blog_sort('date','-1');" name="date">
                        发布日期从近到远
                    </a></li>
                    <li><a href="javascript:void(0);" onclick="blog_sort('date','1');"  name="date">
                        发布日期从远到近
                    </a></li>
                 </ul>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    阅读数 <span class="caret"></span>
                </button>

                <ul class="dropdown-menu" role="menu">
                    <li><a href="javascript:void(0);" onclick="blog_sort('read_num','-1');" name="read_num">
                        阅读数由多到少
                    </a></li>
                    <li><a href="javascript:void(0);" onclick="blog_sort('read_num','1');"  name="read_num">
                        阅读数由少到多
                    </a></li>
                 </ul>
            </div>

            <span style="padding-left:1em; white-space:nowrap;">
                <span id="sort_content">发布日期从近到远</span>
            </span>
        </div>
        <div class="clearfix"></div>
        <hr style="margin:5px;margin-top:6px;height:1px;"/>
                

                <input type="hidden" name='wd' id='keywords' value='' />
        <div class="tag-list">
            <form id="filter_form" method="GET" action="{% url 'blog:index1' %}">
                <!--排序类型-->
                <input type="hidden" name='sf' id='sort_sf' value='{{filter.sorted_field}}' />
                <!--排序方式 -->
                <input type="hidden" name='st' id='sort_st' value='{{filter.sorted_type}}' />
                <ul class="list-inline"> 
                    <li class="tag-recommend">
                        <input id="recommend" type="checkbox" name="recommend" value="true" 
                            {%if filter.recommend%}checked{%endif%}/>
                        <label for="recommend">推荐&nbsp;({{entries_recommend}})</label>
                    </li>

                    <li class="tag-recommend">
                        <input id="check_all" type="checkbox" name="check_all" value="true" 
                            {%if filter.check_all%}checked{%endif%}/>
                        <label for="check_all">全部类别&nbsp;({{entries_num}})</label>
                    </li>
                    {% for topic in topics%}
								        <li>
                            <input id="topic_{{topic.id}}" type="checkbox" name="topic" value="{{topic.id}}"
                            	 {%if topic.checked%}checked{%endif%}/>
                            	<label for="topic_{{topic.id}}">{{topic}}&nbsp;({{topic.entry_set.count}})
                            	</label>

                        </li>
								    {%empty%}
								        <li>No topics have been added yet</li>
								    {%endfor%}
                    <li><a class="btn btn-success btn-xs" href="/blog/">清除条件</a></li>
                    
                </ul>
            </form>
        </div></div>
    </div>
</div>

{# 博文列表 #}
<div class="panel panel-default">
  <div class="panel-body">
  	{% for entry in entries%}
 	    <div class="blog-item">
        <div class="blog-title">
          <h3>
    					<a href="{% url 'blog:detail_entry' entry.id %}">{{entry.title}}</a>
    					<span class="label label-primary">New</span>
    			</h3>
        </div>    
        <div class="blog_descipt">
          {{entry.text|safe|striptags|truncatechars:200 }} 
        </div>
				{% get_comment_count for entry as comment_count %}
		<hr style="margin:3px;margin-top:8px;margin:10px;height:1px;" width="35%"/>
        <div class="blog-tags">
            <ul class="list-inline">
                        <li>
                            <span class="glyphicon glyphicon-time"></span>
                            <span>{{entry.date_added|date:'Y-m-d, H:i'}}</span>
                        </li>
                        <li>阅读：{{entry.read_num}}</li>
                        <li>评论：{{comment_count}} </li>  
                        <li>
                            <span class="glyphicon glyphicon-tag"></span>
                            <a href="{% url 'blog:topic' entry.topic_id %}">{{entry.topic}} </a>
                        </li>

                        {% if entry.recommend %}
                        <li class="tag-recommend">
                            <span class="glyphicon glyphicon-thumbs-up"></span>
                            <a href="{% url 'blog:recommends' %}">推荐</a>                            
                        </li> 
                        {% endif %}
            </ul>
        </div>
    	</div>
    <hr style="margin:1px;margin-top:0px;height:1px;"/>
    {%empty%}
                这里没有这个主题的entries
    {%endfor%}
  	  
  </div>
</div>

	{# 分页部分 #}
	<div class="text-center">
		<span class="blog_footer_tip">
		        共{{pages.count}}篇博文。当前第{{entries.number}}页，共{{pages.num_pages}}页
		</span>
		<div class="">
	    <ul class="pagination ">
	        {# 上一页，这里需要用到has_previous方法判断是否有上一页 #}
	        <li>
	            <a href="?page=
	                {% if entries.has_previous %}
	                    {{entries.previous_page_number}}
	                {% else %}
	                    {{entries.number}}
	                {% endif %}
	            " aria-label="Previous">
	                <span aria-hidden="true">&laquo;</span>
	            </a>
	        </li>
	 
	        {# 遍历所有页码 #}
	        {% for page in pages.page_range_ex %}
                    {% if page == '...' %}
                        <li><span>...</span></li>
                    {% else %}
                        <li><a href="?page={{page}}">{{page}}</a></li>
                    {% endif %}
            {% endfor %}
	 
	        {# 下一页，这里需要用到has_next方法判断是否有下一页 #}
	        <li>
	            <a href="?page=
	                {% if entries.has_next %}
	                    {{entries.next_page_number}}
	                {% else %}
	                    {{entries.number}}
	                {% endif %}
	            " aria-label="Next">
	                <span aria-hidden="true">&raquo;</span>
	            </a>
	        </li>
	    </ul>
	    {# 页码跳转的html代码 #}
        <ul class="pagination">
            <li id="page_goto">
                <span >
                    <input type="text" value="{{paginator.page_goto}}" />
                </span>
            </li>
            <li><a href="javascript:void(0);" onClick="page_goto();">Go</a></li>
        </ul>    
	    
	    </div>
	</div>
	{% block extra_footer %}
	    {#设置凸显当前的页码 此处代码放在header则无效，奇怪#}
	    <script type="text/javascript">
			$(".pagination li a").each(function(){
		        if($(this).text()=="{{entries.number}}"){
		            $(this).parent().addClass("active");
		        }
		   });
	    </script>
	{% endblock extra_footer%}

{% endblock content %}