{% extends 'base.html' %}

{# 导入评论库模块的模版标签 #}
{% load comments %}

{%block header%}
	{#设置提交评论#}
    <script type="text/javascript">

    	$(document).ready(function() {
        $('#comment_form').submit(function() {
        	if ($("#id_honeypot").val().length!=0) {
                        alert("Stop!垃圾评论");
                        return false;
            };
            if ($("#id_comment").val().trim().length==0){
                alert("Error:请输入您的评论");
                $("#id_comment").focus();
                return false;
            };
 
            $("#id_timestamp").value=event.timeStamp;
            $.ajax({
                type: "POST",
                data: $('#comment_form').serialize(),
                url: "{% comment_form_target %}",
                cache: false,
                dataType: "json",
                success: function(json, textStatus) {
			            if(json['success']){
			                window.location.reload();
			            }else{
			                if(json['code']==501){
			                    alert('您尚未登录，请先登录才能评论。');
			                }else if(json['code']==502){
			                    alert('您尚未激活，请先激活您的账户才能评论。');
			                }else{
			                    alert('评论出错，请刷新重试\n'+json['message']);
			                }
			            }
			        },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("评论出错，" + errorThrown);
                }
            });            
            return false;
        	});
        	
	        //绑定回复提交事件
			$('#reply_update_form').submit(function() {
			    if ($("#id_honeypot_reply").val().length!=0) {alert("Stop!垃圾评论");return false;};
			    if ($("#id_comment_reply").val().length==0) {alert("Error:请输入您的回复内容");$("#id_comment").focus();return false;};
			 
			    $("#id_timestamp").val(event.timeStamp);
			 
			    $.ajax({
			        type: "POST",
			        data: $('#reply_update_form').serialize(),
			        url: "{% comment_form_target %}",
			        cache: false,
			        dataType: "json",
			        success: function(json, textStatus) {
			            if(json['success']){
			                window.location.reload();
			            }else{
			                if(json['code']==501){
			                    alert('您尚未登录，请先登录才能评论。');
			                }else if(json['code']==502){
			                    alert('您尚未激活，请先激活您的账户才能评论。');
			                }else{
								$("#demo").prepend(json['message']);
			                    alert('评论出错，请刷新重试\n'+json['message']);
			                }
			            }
			        },
			        error: function (XMLHttpRequest, textStatus, errorThrown) {
			            alert("评论出错\n请检查是否登录了或者刷新试试\n" + errorThrown);
			        }
			    });
			    return false;
			});
			
			//绑定回复按钮的鼠标经过事件
			$(".comment_content,.comment_reply li").each(function(){
			    $(this).hover(function(){
			        $(this).append("<span class='reply_button'> <a href='javascript:void(0);' onclick='reply_click(this);'>回复</a></span>");
			    },function(){
			        $(this).children(".reply_button").remove();
			    });
			});
        });
		 
		//回复按钮点击触发的方法
		function reply_click(obj){
		    //获取回复按钮对应的评论或回复（DOM转成jQuery对象）
		    var comment=obj.parentElement.parentElement;
		    var $c=$(comment);
		    //获取相关信息
		    var root=$c.attr("root");
		    var role=$c.attr("role");
		    var base=$c.attr("base");
		 
		    //显示回复面板
		    $("#reply_form").hide();
		    $c.after($("#reply_form"));
		    $("#reply_form").slideDown(200);
		 
		    //设置回复表单相关值
		    $("#reply_to").val(role);
		    $("#root_id").val(root);
		    $("#reply_name").val(base);
		    return false;
		}
    </script>

{%endblock header%}


{%block content%}
<div class="panel panel-default">
    <div class="panel-heading">
    	<div class="">
                <h2>{{entry.title}}</h2>
                <ul class="list-inline">
                    <li>发布时间：{{entry.date_added|date:'Y-m-d, H:i'}}</li>
                    <li>作者：{{entry.author}}</li> 
                    <li>阅读({{entry.read_num}})</li>
                    <li>评论(0)</li>
                </ul>
                <span class="clearfix"></span>
                <ul class="list-inline">
                    <li>分类标签：
                    	{%for tag in entry.tags.all%}
						<kbd>
                    		<a href="{% url 'blog:tag' tag.id %}" target=_blank style="color: white;">{{tag}}</a>
						</kbd>
						&nbsp;
                    	{% empty %}
                    	
                    	{%endfor%}
                    </li>
                </ul>
           </div>
    </div>
    <div class="panel-body" style="word-wrap:break-word" id='demo'>
		{{entry.text|safe}}       			 			
    </div>
    <div class="panel-footer">
    	<a href="{% url 'blog:new_entry' topic.id %}">add new entry1</a>
    	<a href="{% url 'blog:edit_entry' entry.id %}">edit entry</a>
    	<p>
		    {% if pre_entry %}
		        <a href="{%url 'blog:detail_entry' pre_entry.id%}">上一篇：{{pre_entry.title}}</a>
		    {% else %}
		         	上一篇：没有了
		    {% endif %}
		</p>
		<p>
		    {% if next_entry %}
		        <a href="{%url 'blog:detail_entry' next_entry.id%}">下一篇：{{next_entry.title}}</a>
		    {% else %}
		        	下一篇：没有了
		    {% endif %}
		</p>
    </div>

</div>
{# 评论功能 #}
<div class="panel panel-default">
    <div class="panel-heading">
        <h4>评论列表</h4>
    </div>
 
    <div class="panel-body">
        {% get_comment_list for entry as comments %}
        {% get_comment_count for entry as comment_count %}
        {% for comment in comments %}
            <div class="blog_comment" name="F{{comment.id}}">
		        <p class="comment_title">
		            {{comment.submit_date|date:"Y-m-d H:i"}} @ {{comment.user_name}} 评论
		        </p>
		        <p class="comment_content"
		           root='{{comment.id}}'
		           role='{{comment.id}}'
		           base='{{comment.user_name}}'>
		           {{ comment.comment }}
		        </p>
		 
		        <ul class="comment_reply">
		            {% for reply in comment.replies %}
		                <li root='{{reply.root_id}}'
		                    role='{{reply.id}}'
		                    base='{{reply.user_name}}'>
		                    {{reply.user_name}} 回复 {{reply.reply_name}} ({{ reply.submit_date|date:"Y-m-d H:i"}})：{{ reply.comment }}
		                </li>
		            {% endfor %}
		        </ul>
		    </div>
        {% empty %}
            <span>飘过的大虾，留个名呗</span>
        {% endfor %}
    </div>
	<div class="panel-footer">
		<h4>新的评论</h4>
		{% get_comment_form for entry as blog_form %}
		 
		<form id="comment_form" 
		      class="form-horizontal" 
		      method="post"
		>
		    {% csrf_token %}
		 
		    {# 必须的字段 #}
		    {{ blog_form.object_pk }}
		    {{ blog_form.content_type }}
		    {{ blog_form.timestamp }}
		    {{ blog_form.site }}
		    {{ blog_form.submit_date }}
		    {{ blog_form.security_hash }}
		 	
			    {# 评论内容 #}
			    <a name="newcomment" id="newcomment"></a>
			    <div class="control-group">
			        <div class="controls">
			            <textarea rows="5" style="width:100%" id="id_comment" name="comment" >
			            </textarea>
			        </div>
			    </div>
			    {# 表单按钮 #}
			    <div class="controls">
			        <div class="form-actions text-right">
			            <input class="btn btn-info" id="submit_btn" type="submit" name="submit" value="提  交"/>
			            <input type="hidden" name="next" value="{%url 'blog:detail_entry' entry.id%}"/>
			            <input class="btn" id="reset_btn" type="reset" name="submit" value="清空"/>
			        </div>
			    </div>

			    {# 防垃圾评论 #}
				<p style="display:none;">
        			<label for="id_honeypot">如果你在该字段中输入任何内容，你的评论就会被视为垃圾评论。</label>
        			<input type="text" name="honeypot" id="id_honeypot">
    			</p>

		 </form>
		 <div id="reply_form" style="display:none;text-indent:0;">
		 	{% get_comment_form for entry as blog_form2 %}			 
			<form id="reply_update_form" class="form-horizontal" method="post">
			    {% csrf_token %}
			 
			    {# 必须的字段 #}
			    {{ blog_form2.object_pk }}
			    {{ blog_form2.content_type }}
			    {{ blog_form2.timestamp }}
			    {{ blog_form2.site }}
			    {{ blog_form2.submit_date }}
			    {{ blog_form2.security_hash }}
			 	
			 	<input type="hidden" name="next" value="{%url 'blog:detail_entry' entry.id%}"/>
		        <input id="reply_to" type="hidden" name="reply_to" value="0" />
		        <input id="root_id" type="hidden" name="root_id" value="0" />
		        <input id="reply_name" type="hidden" name="reply_name" value="">

		        <div class="row">
		            <div class="col-md-12">
		                <textarea class="input-xlarge comment_text" id="id_comment_reply" name="comment" placeholder="请输入回复内容"></textarea>
		 
		                <!--如果你在该字段中输入任何内容，你的评论就会被视为垃圾评论-->
		                <input type="text" style="display:none;" id="id_honeypot_reply" name="honeypot">
		            </div>
		        </div>
		 
		        <div class="row">
		              <div class="form-actions comment_button">
		                <input class="btn btn-info" id="submit_reply" type="submit" name="submit" value="回复"/>
		                <input class="btn" id="reset_btn" type="reset" name="submit" value="清空"/>
		              </div>
		        </div>
		    </form>
		</div>
	</div>
</div>  

{%endblock content%}