<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>
    	{% block title %}
    	{% endblock title %}
    </title>
		<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
		<link rel="stylesheet" href="/media/css/bootstrap.min.css" >

		<!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
		<link rel="stylesheet" href="/media/css/bootstrap-theme.min.css">
		
		<script src="/media/js/jquery-3.2.1.min.js"></script>
		<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
		<script src="/media/js/bootstrap.min.js" ></script>
    

    {% block head %}
    {% endblock head %}
    
  </head>

  <body>
  <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'blog:index' %}">
          	<span class=" glyphicon glyphicon-home"></span>
          	Stduy学习网</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li ><a href="{% url 'blog:index1' %}"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;Blog</a></li>
            <li><a href="{% url 'subject:index' %}"><span class="glyphicon glyphicon-tasks"></span>&nbsp;专题</a></li>
						<li><a href="{% url 'exam:index' %}"><span class="glyphicon glyphicon-pencil"></span>&nbsp;测试</a></li>

          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
            <li class="dropdown" style="padding:0px;margin:0px;">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              	<img src="{% if user.last_name %}/media/avatar/online/{{user.last_name}}{%else%}/media/avatar/online/h1.jpg{%endif%}" class="navbar-header" width="35px" heigth="35px" style="position:relative;top:-6px;"/>
              	&nbsp;&nbsp;您好！{% if user.first_name %}{{user.first_name}}{%else%}{{user.username}}{%endif%} <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="{%url 'users:user_info'%}">用户中心</a></li>
                <li><a href="{%url 'users:avatar_change'%}">修改头像</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{%url 'users:logout'%}">注销</a></li>
              </ul>
            </li>
            {% else %}
        				<li><a href="{% url 'users:register' %}">注册</a></li>
       					<li><a href="{% url 'users:login' %}">登录</a></li>
    				{% endif %}
          </ul>
          <form action="/search/" class="navbar-form navbar-right">
            		<input name="search_key" type="text" placeholder="搜索文章" class="form-control">
           			<button type="submit" style="position:relative;left:-36px;top:2px;border: none;background: none;">
            			<span class="glyphicon glyphicon-search"></span>
            		</button>
          </form>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

<div class="container">
	
	<div>
		{% block header %}{% endblock header %}
	</div>
	<div>
		{% block content %}{% endblock content %}
	</div>
	
	<div>
		{% block extra_footer %}{% endblock extra_footer %}
	</div>
	
	<div class="jumbotron">
      <div class="row">
          <!-- 部分：一 -->
          <div class="col-md-4">
              <p><h4><B>关于本站</B></h4></p>
              <hr width="50%" color="#000000" style="margin:5px;margin-top:6px;height:1px;"/>
              <ul class="list-unstyled">
                 <li>&nbsp;本站基于Django、Bootstrap</li>

             </ul>

         </div>
         <!-- 部分：二 -->
         <div class="col-md-4">
             <p><h4><B>欢迎反馈</B></h4></p>
             <hr width="50%" color="#000000" style="margin:5px;margin-top:6px;height:1px;"/>
             <ul class="list-unstyled">
                 <li>&nbsp;发邮件给我405633660@qq.com</li>

             </ul>
         </div>
         <!-- 部分：三 -->
         <div class="col-md-4">
         		 <p><h4><B>友情链接</B></h4></p>
         		 <hr width="50%" color="#000000" style="margin:5px;margin-top:6px;height:1px;"/>
             <ul class="list-unstyled">
                 <li>&nbsp;<a href="http://www.yqfrzx.cn" target="_blank">乐清市芙蓉中学</a></li>

             </ul>
         </div>
     </div>
     <div class="row text-center">

     		<p></p>
     		<p >Copyright©2017 chenzhibin.vip All Rights Reserved&nbsp;&nbsp;
     		浙ICP备17040911
     		</p>


     </div>
  </div>



	</body>
</html>