{% extends 'base.html' %}

{% block head %}
<link href="/static/css/timeline.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/static/js/modernizr.js"></script>

{% endblock head %}	

{% block content %}

<section id="cd-timeline" class="cd-container">
	{% for entry in entries_recommend %}
		<div class="cd-timeline-block">
			<!--根据情况显示不同的时间轴图片标志-->
			{% if entry.img_url2 %}
				<div class="cd-timeline-img cd-movie">					
					<img src="/media/shouye/cd-icon-movie.svg">		
				</div><!-- cd-timeline-img -->
			{% else %}
				{% if entry.img_url %}
					<div class="cd-timeline-img cd-picture">					
						<img src="/media/shouye/cd-icon-picture.svg">		
					</div><!-- cd-timeline-img -->
				{% else %}
					<div class="cd-timeline-img cd-location">					
						<img src="/media/shouye/cd-icon-location.svg">		
					</div><!-- cd-timeline-img -->
				{% endif %}
			{% endif %}
			<div class="cd-timeline-content">
		      <div class="row">
		      	{% if entry.img_url %}
		        <div class="col-md-7 col-sm-7 col-xs-7">
		        {% else %}
		        <div class="col-md-12 col-sm-12 col-xs-12">
		        {% endif %}
		          <h2 class="featurette-heading"><a href="{% url 'blog:detail_entry' entry.id %}">{{entry.title}}
		          	<span class="text-muted"></span></a></h2>
		          <p class="lead">{{entry.text|safe|striptags|truncatechars:120}}
		          </p>
		        </div>
		        {% if entry.img_url %}
		        <div class="col-md-5 col-sm-5 col-xs-5">
		        	<a href="{% url 'blog:detail_entry' entry.id %}">
		          <img class="featurette-image img-responsive center-block" id="{{entry.id}}"
		          	src="{{entry.img_url}}" onerror="this.src='/media/2.jpg';"
		          	alt="糟糕，图片好像不见了" >
		          <hr  />
		          {% if entry.img_url2 %}
		          <img class="featurette-image img-responsive center-block" id="{{entry.id}}"
		          	src="{{entry.img_url2}}" alt="糟糕，图片好像不见了" >
		          {% endif %}
		          </a>
		        </div>
		        {% endif %}
		      </div>
				<!--<a href="{% url 'blog:detail_entry' entry.id %}" class="cd-read-more">阅读更多</a>-->
				<span class="cd-date" style="color: white;">{{entry.date_added|date:'Y年 m月 d日'}}</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

	{%endfor%}
</section> <!-- cd-timeline -->
    
<script>
$(function(){
	var $timeline_block = $('.cd-timeline-block');
	//hide timeline blocks which are outside the viewport
	$timeline_block.each(function(){
		if($(this).offset().top > $(window).scrollTop()+$(window).height()*0.75) {
			$(this).find('.cd-timeline-img, .cd-timeline-content').addClass('is-hidden');
		}
	});
	//on scolling, show/animate timeline blocks when enter the viewport
	$(window).on('scroll', function(){
		$timeline_block.each(function(){
			if( $(this).offset().top <= $(window).scrollTop()+$(window).height()*0.75 && $(this).find('.cd-timeline-img').hasClass('is-hidden') ) {
				$(this).find('.cd-timeline-img, .cd-timeline-content').removeClass('is-hidden').addClass('bounce-in');
			}
		});
	});
});
</script>
{% endblock content %}