<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>
    	{% block title %}
    	{% endblock title %}
    </title>
		<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
		<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

		<!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
		<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
		
		<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
		<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
		<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>
<div class="filter blog-border">
        <div class="filter-item">
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    发布日期 <span class="caret"></span>
                </button>

                <ul class="dropdown-menu" role="menu">
                    <li><a href="javascript:void(0);" onclick="blog_sort('date','-1');" name="date">
                        发布日期从近到远
                    </a></li>
                    <li><a href="javascript:void(0);" onclick="blog_sort('date','1');"  name="date">
                        发布日期从远到近
                    </a></li>
                 </ul>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    阅读数 <span class="caret"></span>
                </button>

                <ul class="dropdown-menu" role="menu">
                    <li><a href="javascript:void(0);" onclick="blog_sort('view','-1');" name="view">
                        阅读数由多到少
                    </a></li>
                    <li><a href="javascript:void(0);" onclick="blog_sort('view','1');"  name="view">
                        阅读数由少到多
                    </a></li>
                 </ul>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    评论数 <span class="caret"></span>
                </button>

                <ul class="dropdown-menu" role="menu">
                    <li><a href="javascript:void(0);" onclick="blog_sort('comment','-1');" name="comment">
                        评论数由多到少
                    </a></li>
                    <li><a href="javascript:void(0);" onclick="blog_sort('comment','1');"  name="comment">
                        评论数由少到多
                    </a></li>
                 </ul>
            </div>

            <span style="padding-left:1em; white-space:nowrap;">
                排序：<span id="sort_content">发布日期从近到远</span>
            </span>
        </div>
        <div class="clearfix"></div>
        <div class="tag-list">
            <form id="filter_form" method="GET" action="/blog/">
                <!--排序类型-->
                <input type="hidden" name='sf' id='sort_sf' value='date' />
                <!--排序方式-->
                <input type="hidden" name='st' id='sort_st' value='-1' />
                <input type="hidden" name='wd' id='keywords' value='' />
                <ul>
                    <li class="tag-recommend">
                        <input id="recommend" type="checkbox" name="recommend" value="true" 
                            />
                        <label for="recommend">推荐</label>
                    </li>

                    <li class="tag-recommend">
                        <input id="check_all" type="checkbox" name="check_all" value="true" 
                            checked/>
                        <label for="check_all">全部类别&nbsp;(186)</label>
                    </li>

                    
                        <li>
                            <input id="tag_1" type="checkbox" name="tag" value="1" 
                                />
                            <label for="tag_1">我的网站搭建&nbsp;(56)</label>
                        </li>
                    
 
                    
                        <li><a class="btn btn-success btn-xs" href="/blog/">清除条件</a></li>
                    
                </ul>
            </form>
        </div>