{% extends "base.html" %}

{% block title %}用户中心 - 陈志斌的博客{% endblock title%}
 
{% block head %}
<link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/cropper/3.0.0-rc.3/cropper.min.css">
<script src="https://cdn.bootcss.com/cropper/3.0.0-rc.3/cropper.min.js"></script>
<script type="text/javascript">

function avatar_change(obj){
	//var comment=obj.parentElement.parentElement;
	var comment=obj;
	var $c=$(comment);
	//获取相关信息
	var img_id=$c.attr("id");
	
	$("#avatar_online_img img").removeClass("hong");
	$(obj).addClass("hong");
	//obj.style.borderColor=red;
	//设置回复表单相关值
	$("#nickname").val(img_id);

	//alert('已选择'+img_id+'，请再点击确定更换,如果想换一个选择，请继续点击其他头像')
}
</script>
<style>
/*图片点击后红框*/
.hong
{
	border: 3Px #FF0000 solid !important; 
}
/*在线图片*/
.avatar_online_img img{ 
    width: 96px; 
    margin: 0 0 5px 5px; 
    border: 1px #ccc solid; 
    border-radius: 4px; 
    cursor: pointer;
}
.avatar_online_img img:hover{ 
    border-color: red; 
    box-shadow: 0 0 10px rgba(0,0,0,.25);
}
 
/*不同屏幕改变头像大小*/
@media (max-width:485px){
  .avatar_online_img img{ width: 72px;}
}
@media (max-width:388px){
  .avatar_online_img img{ width: 48px;}
}
/*头像预览*/
.avatar-preview {
  margin-top: 15px;
  margin-right: 15px;
  border: 1px solid #eee;
  border-radius: 4px;
  background-color: #fff;
  overflow: hidden;
  height: 96px;
  width: 96px;
}
.avatar-preview:hover { border-color: #ccf; box-shadow: 0 0 5px rgba(0,0,0,.15);}
</style>
{% endblock head %}
 
{% block content %}


    <div class="">
        <div class="modal-header">
            <div class="text-left col-md-5 col-xs-5 col-sm-5">
            	<img src="{% if user.last_name %}/media/avatar/online/{{user.last_name}}{%else%}/media/avatar/online/h1.jpg{%endif%}" 
            		class="navbar-header img-thumbnail" width="60px" heigth="60px" style="position:relative;top:-6px;"/>
            	
            	<h4 >&nbsp;&nbsp;&nbsp;请在下方选择一个头像</h4>
            </div>
            <form method='post'>
                {%csrf_token%}
                {% for field in form %}
                    {# 区分是否是hidden字段 #}
                    {% if field.is_hidden %}
                        {{ field }}
                    {% else %}
                        <div class="input-group" style="display: none;">
                            <label class="input-group-addon" for="{{ field.id_for_label }}">
                                {{ field.label }}
                            </label>
                            {{ field }}
                        </div>
                        {# 错误提示信息 #}
                        <p class="text-danger text-right">
                            {{ field.errors.as_text }}
                        </p>
                    {%endif%}
                {%endfor%}
 
                <div class="text-right">
                    <input class="btn btn-primary" id="btn_submit" 
                                    type="submit" value="{{submit_name}}"/>
                </div>
            </form>
        </div>
 		
        <div class="" style="text-align: center; position: relative;top:10px;">
            <div class="avatar_online_img" id='avatar_online_img'>
            <div>
                <img id="h1.jpg" name="avatar_jpg" src="/media/avatar/online/h1.jpg" onclick="avatar_change(this)"/>
                <img id="h2.jpg" name="avatar_jpg" src="/media/avatar/online/h2.jpg" onclick="avatar_change(this)"/>
                <img id="h3.jpg" name="avatar_jpg" src="/media/avatar/online/h3.jpg" onclick="avatar_change(this)"/>
                <img id="h4.jpg" name="avatar_jpg" src="/media/avatar/online/h4.jpg" onclick="avatar_change(this)"/>
            </div>
            <div>
                <img id="h5.jpg" name="avatar_jpg" src="/media/avatar/online/h5.jpg" onclick="avatar_change(this)"/>
                <img id="h6.jpg" name="avatar_jpg" src="/media/avatar/online/h6.jpg" onclick="avatar_change(this)"/>
                <img id="h7.jpg" name="avatar_jpg" src="/media/avatar/online/h7.jpg" onclick="avatar_change(this)"/>
                <img id="h8.jpg" name="avatar_jpg"  src="/media/avatar/online/h8.jpg" onclick="avatar_change(this)"/>
            </div>
            <div>
                <img id="h9.jpg" name="avatar_jpg" src="/media/avatar/online/h9.jpg" onclick="avatar_change(this)"/>
                <img id="h10.jpg" name="avatar_jpg" src="/media/avatar/online/h10.jpg" onclick="avatar_change(this)"/>
                <img id="h11.jpg" name="avatar_jpg" src="/media/avatar/online/h11.jpg" onclick="avatar_change(this)"/>
                <img id="h12.jpg" name="avatar_jpg" src="/media/avatar/online/h12.jpg" onclick="avatar_change(this)"/>
            </div>
            <div>
                <img id="h13.jpg" name="avatar_jpg" src="/media/avatar/online/h13.jpg" onclick="avatar_change(this)"/>
                <img id="h14.jpg" name="avatar_jpg" src="/media/avatar/online/h14.jpg" onclick="avatar_change(this)"/>
                <img id="h15.jpg" name="avatar_jpg" src="/media/avatar/online/h15.jpg" onclick="avatar_change(this)"/>
                <img id="h16.jpg" name="avatar_jpg" src="/media/avatar/online/h16.jpg" onclick="avatar_change(this)"/>
            </div>
            </div>
        </div>
    </div>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
{% endblock content%}