{% extends 'base.html' %}
{% load bootstrap3 %}

{%block header%}
	<h2>登录你的账户，本站测试等模块一般都需要登录方可访问</h2>
{%endblock header%}

{%block content%}

    {% if form.errors%}
    <h2>Your username and password didn't match.Please try again</h2>
    {% endif %}

    <form class="form" method="post" action="{% url 'users:login' %}">
    	{% csrf_token %}
		{% bootstrap_form form %}
		
		{% buttons %}
		<button type="submit" class="btn btn-primary">登  录</button>
		{% endbuttons %}
		<input type="hidden" name="next" value="{% url 'blog:index' %}" />

	</form>
	<a href="{% url 'users:password_lost' %}">忘记密码？</a>
	<B>Tips</B>:<small>若是激活邮件过期的账户，也可以通过忘记密码来找回密码然后激活</small>
{%endblock content%}